name: Tieraid deploy tenant workflow

on:
  workflow_call:
    inputs:
      backend-url:
        required: true
        type: string

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - name: Clone tieraid app for frontend
        uses: actions/checkout@v3
        with:
          repository: tieraid-app/tieraid-app-frontend
          ref: main
          ssh-key: ${{ secrets.CLONE_FRONTEND_KEY }}
      - name: Fetch tenant information
        id: tenant
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ inputs.backend-url }}/tenant/info/
          method: "GET"
      - name: Set build hash
        run: |
            echo "BUILD_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Setup environment variables
        run: |
          cat << EOF > .env.production
          VITE_FRONTEND_BUILD_HASH=${{ env.BUILD_HASH }}
          VITE_BACKEND_URL=${{ inputs.backend-url }}
          VITE_COMPANY_NAME=${{fromJson(steps.tenant.outputs.response).name}}
          VITE_WEBSITE_NAME=${{fromJson(steps.tenant.outputs.response).name}} | Powered by Tieraid
          VITE_WEBSITE_DEFAULT_LANG=${{fromJson(steps.tenant.outputs.response).knows_language}}
          VITE_WEBSITE_AVAILABLE_LANGS=${{join(fromJson(steps.tenant.outputs.response).available_languages, ',')}}
          EOF
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install dependencies
        run: |
            pnpm install --frozen-lockfile

      - name: Test and build
        run: |
            pnpm run build

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: gh-pages
          build_dir: dist
          fqdn: ${{fromJson(steps.tenant.outputs.response).fqdn}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
